html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: url("https://th.bing.com/th/id/OIP.usDdkbs9p6DlH6vyi8ZmSwHaDy?w=295&h=178&c=7&r=0&o=5&pid=1.7");
  color: white;
}
.parent {
  font-size: 20px;
  display: flex;
  justify-content: space space-between;
  align-items: flex-end;
}
h2 {
  margin: 2rem;
}
.mario {
  font-size: 20px;
  width: 18%;
}
.luigi {
  font-size: 2rem;
  border: 3px solid red;
  height: 500px;
}
.rosalina {
  font-size: 1em;
  border: 3px solid green;
  height: 500px;
}
