html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: url("https://i.redd.it/f52uogl3sq5z.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: monospace;
}
h1 {
  font-size: 20rem;
  text-align: center;
  margin-bottom: 10rem;
  background: transparent;
}
h2 {
  background: darkgray;
}

.icons {
  font-size: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-between;
  height: 100%;
  background: transparent;
  row-gap: 50px;
}

.card {
  font-size: 3rem;
  border: radius 15px;
  text-align: center;
  padding: 5rem;
  flex: 0 32%;
  height: 30rem;
  background: darkgray;
  max-width: 35rem;
  box-shadow: 10px 5px 5px;
  margin: 100px;
  border-radius: 25px;
  transition: all 0.3s;
}
p {
  border-radius: 15px;
  text-align: center;
  font-size: 2rem;
  background: darkgray;
}
img {
  background: transparent;
}

.card:hover {
  transform: scale(1.5);
}

#m-img:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
#m-img:hover,
#m-img:focus,
#m-img:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.7);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#l-img:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#l-img:hover,
#l-img:focus,
#l-img:active {
  -webkit-transform: rotate(4deg);
  transform: rotate(15deg);
}

#r-img:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#r-img:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
#r-img:hover,
#r-img:focus,
#r-img:active {
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  /* move the element up by 5px */
}
#r-img:hover:before,
#r-img:focus:before,
#r-img:active:before {
  opacity: 1;
  -webkit-transform: translateY(15px);
  transform: translateY(15px);
}

#p-img:hover {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
#p-img:hover,
#p-img:focus,
#p-img:active {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
#d-img:hover {
  animation-name: rotate;
  animation-duration: 0.7s;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 320px) {
  .card {
    flex-basis: 30%;
  }
  #title {
    flex-basis: 90%;
    width: 90%;
  }
}
@media (max-width: 768px) {
  .card {
    flex-basis: 90%;
  }
  #title {
    flex-basis: 90%;
    width: 90%;
  }
}
